body {
    background-image: url('../images/fondo-web.jpg');
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10;
    color: #333;
    margin: 0; padding: 0;
}
a { color: black;}

p {
	margin-top: 0px; font-size: 12px;
	line-height: 1.6em;
}
p a { font-weight: bold; color: rgba(0,0,0,0.7); nocolor: #63b2cc; text-decoration: none; }
p a:hover { text-decoration: underline;}

.center { max-width: 680px; margin: 0 auto; padding: 0 10px;}
.row { width:100%; overflow: hidden; }

#concierto-madrid-valencia {
  margin-bottom: 140px;
  max-height: 353px;
  box-shadow: 0px 1px 7px rgba(0,0,0,0.3);
}

h2.replace {
  overflow: hidden;
  text-indent: -1000px;
}

#titulo-videos {
    background: url('../images/videos.png') no-repeat;
    height: 34px;
}

#venta-de-discos {
  background: url('../images/venta-de-discos.png') no-repeat;
}

#portada {
    width: 51%;
    float: right;
}
#portada img { width: 98%; box-shadow: 1px 1px 3px rgba(0,0,0,0.5); margin: 1%;}

#lbn3-titulo { width: 55%; margin: 10% auto 5% auto;}
#lbn3-titulo img { width: 100%; }

#lbn3-portada {  }
#lbn3-portada img { width: 100%; }

@media(max-width: 640px) {
	#lbn3-player { height: 120px; overflow: hidden;}
}

span.button {
  display: inline-block;
  height: 16px;
  overflow: hidden; text-indent: -1000px;
  background: url('../images/descarga-compra.png') no-repeat;
}

span.button.download {
  width: 104px;
  background-position: 0 3px;
}

span.button.buy {
  width: 90px;
  background-position: 0 -19px;
}

#info { display: none;}

.announcement img { width: 100%; }

#videos {
	border-top: 1px solid rgba(0,0,0,0.35);
	border-bottom: 1px solid rgba(0,0,0,0.35);
	margin-top: 50px;
	background-color: rgba(0,0,0,0.4);
	padding: 20px 0 80px 0;
}
#videoclip { margin-top: 8%;}

#releases { margin: 120px 0 60px 0;}
.release .cover { float: left; width: 36%; margin: 0 3% 20px 0;}
.release .description { float: right; width: 60%; }

.release img { width: 100%; box-shadow: 1px 1px 3px rgba(0,0,0,0.5); }



footer {
	border-top: 1px solid rgba(0,0,0,0.35);
	margin-top: 50px;
	background-color: rgba(0,0,0,0.3);
	padding: 30px 0;
	font-size: 12px;
}
#license { float: left; width: 47%; margin: 0 3% 0 0; }
#about { float: left; width: 47%; margin: 0 0 0 3%; }
footer p.contact { font-size: 14px; }
